body{
    background-color: #1f2169 !important;
  }

.main img {
    height: 500px;
    width: 500px;
  }
  
  .header {
    position: absolute;
    right: 50%;
    left: 34%;
    bottom: 70%;
    display: flex;
  }
  
  .header h1 {
    color: #FFB46D;
  }
  
  .middleText h3 {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: #FFB46D;
  }
  
  .middleText p {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  .carousel-item img {
    height: 300px;
    width: 400px;
  }
  
  .carousel-caption h3 {
    height: 120px;
    color: #091E3B;
  }



